{% extends 'default/layout.html.twig' %}

{% block title %}
    Import product data
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div>
        <form id="addImportSource" action="/import/upload" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <input class="form-control" type="file" name="importSource" accept=".xml,text/xml">
                <button class="btn btn-outline-secondary" type="submit">
                    <span data-feather="upload-cloud"></span>
                    Upload source XML
                </button>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">File</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for importSource in importSources %}
        <tr>
            <td scope="row">{{ loop.index }}</td>
            <td>{{ importSource.filename }}</td>
            <td class="align-middle">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%">
                        12345 items
                    </div>
                </div>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" href="/import">
                    <span data-feather="database"></span>
                    Import source
                </a>
                <a class="btn btn-sm btn-success" href="/import" target="_blank" download>
                    <span data-feather="download-cloud"></span>
                    Results CSV
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}