{% extends 'default/layout.html.twig' %}

{% block content %}
<nav>
    <ol>
        <li>
            <a href="/products"><h3>Explore product list</h3></a>
        </li>
        <li>
            <a href="/import"><h3>Import product data</h3></a>
        </li>
        <li>
            <a href="/coverage"><h3>View code coverage report</h3></a>
        </li>
        <li>
            <a href="/admin"><h3>Admin UI</h3></a>
        </li>
    </ol>
</nav>
{% endblock %}